 table {
    border:solid 7px;
    border-top-color:#b8b2b2;
    border-right-color:#575454;
    border-bottom-color:#575454;
    border-left-color:#b8b2b2;
    background-color: rgb(64, 185, 233);
  }

  th{

    color: rgb(52, 214, 160) ;
    background-color: rgb(12, 65, 51);
  }


  tr:nth-child(2){

    background-color: rgb(52, 117, 101);
  }

  tr{
    background-color: rgb(77, 231, 190);
  }
